@import 'blocks/main.scss';
@import 'blocks/modals/modal.scss';
@import 'blocks/tabs.scss';



@import 'reset/normalize.scss';
@import 'reset/reset-scss.scss';


.container {
    max-width: 1100px;
    margin: 0 auto;
}

html{
    background-color: #f3f1f4;
}